In [1]:
import math
from math import radians, cos, sin, asin, acos, sqrt, pi
import pandas as pd
import numpy as np
from datetime import time
import datetime as dt
from datetime import datetime as datetime
from datetime import datetime as datetime
import matplotlib.pyplot as plt
%matplotlib inline
from scipy.interpolate import interp1d
import seaborn as sns

In [35]:
# Loading Cleaned data
data_info_clean = pd.read_excel(r"C:\Users\deepak\Desktop\Datathon\InfoVisionaries_Cadiorespiratory_CleaningReport.xlsx",sheet_name='data_info_clean')
data_info_clean
data_test = pd.read_excel(r"C:\Users\deepak\Desktop\Datathon\InfoVisionaries_Cadiorespiratory_CleaningReport.xlsx",sheet_name='data_test_clean')
data_test

       ID     time     RR       VO2  power          HR
0       1 -130.840  672.0  0.302008      0   89.285714
1       1 -130.168  672.0  0.302008      0   89.285714
2       1 -129.536  632.0  0.301336      0   94.936709
3       1 -109.280  672.0  0.310178      0   89.285714
4       1 -104.280  660.0  0.329340      0   90.909091
...    ..      ...    ...       ...    ...         ...
47896  18  947.288  536.0  0.507071      0  111.940299
47897  18  947.816  528.0  0.507071      0  113.636364
47898  18  948.344  528.0  0.507071      0  113.636364
47899  18  948.884  540.0  0.507071      0  111.111111
47900  18  949.424  540.0  0.507071      0  111.111111

[47901 rows x 6 columns]

In [37]:
data_info_clean

    ID  age  Weight  Height  P_vt1  P_vt2      sport       HRmax
0    1   15    53.7     161     50    140    fencing  192.307692
1    2   15    56.2     162     80    127    fencing  192.307692
2    3   16    89.9     191    155    300    fencing  182.926829
3    4   16    76.5     180    215    275    fencing  192.307692
4    5   17    76.4     186    110    172    fencing  189.873418
5    6   17    65.6     169    131    186    fencing  192.307692
6    7   15    49.8     165     65    108    fencing  189.873418
7    8   15    51.2     165     80    133    fencing  192.307692
8    9   14    57.1     176     50    125    fencing  189.873418
9   10   14    58.8     177    101    162    fencing  192.307692
10  11   18    84.8     182    174    268      kayak  192.307692
11  12   18    86.0     183    170    294      kayak  189.873418
12  13   18    83.9     183    144    267      kayak  189.873418
13  14   13    62.3     171    140    170      kayak  192.307692
14  15   13    63.5     172    125    156      kayak  192.307692
15  16   16    70.4     182     79    175      kayak  189.873418
16  17   12    39.9     156    101    145  triathlon  189.873418
17  18   12    39.7     158     65    168  triathlon  192.307692

In [48]:
# Dropping HR Max column
data_info_clean = data_info_clean.drop('HRmax',axis=1)
data_info_clean

    ID  age  Weight  Height  P_vt1  P_vt2      sport
0    1   15    53.7     161     50    140    fencing
1    2   15    56.2     162     80    127    fencing
2    3   16    89.9     191    155    300    fencing
3    4   16    76.5     180    215    275    fencing
4    5   17    76.4     186    110    172    fencing
5    6   17    65.6     169    131    186    fencing
6    7   15    49.8     165     65    108    fencing
7    8   15    51.2     165     80    133    fencing
8    9   14    57.1     176     50    125    fencing
9   10   14    58.8     177    101    162    fencing
10  11   18    84.8     182    174    268      kayak
11  12   18    86.0     183    170    294      kayak
12  13   18    83.9     183    144    267      kayak
13  14   13    62.3     171    140    170      kayak
14  15   13    63.5     172    125    156      kayak
15  16   16    70.4     182     79    175      kayak
16  17   12    39.9     156    101    145  triathlon
17  18   12    39.7     158     65    168  triathlon

In [57]:

# Calculate rolling mean for 'HR' column grouped by 'ID'. 
# Window size mentioed as 5 because we are calculating mean value of 5 consecutive HR/VO2 values
window_size = 5

data_test['HR_mean'] = data_test.groupby('ID')['HR'].rolling(window=window_size, min_periods=1).mean().reset_index(level=0, drop=True)

# Calculate rolling mean for 'VO2' column grouped by 'ID'
data_test['VO2_mean'] = data_test.groupby('ID')['VO2'].rolling(window=window_size, min_periods=1).mean().reset_index(level=0, drop=True)

data_test

       ID     time     RR       VO2  power          HR     HR_mean  VO2_mean
0       1 -130.840  672.0  0.302008      0   89.285714   89.285714  0.302008
1       1 -130.168  672.0  0.302008      0   89.285714   89.285714  0.302008
2       1 -129.536  632.0  0.301336      0   94.936709   91.169379  0.301784
3       1 -109.280  672.0  0.310178      0   89.285714   90.698463  0.303882
4       1 -104.280  660.0  0.329340      0   90.909091   90.740589  0.308974
...    ..      ...    ...       ...    ...         ...         ...       ...
47896  18  947.288  536.0  0.507071      0  111.940299  113.483928  0.481351
47897  18  947.816  528.0  0.507071      0  113.636364  112.955387  0.487781
47898  18  948.344  528.0  0.507071      0  113.636364  113.126269  0.494211
47899  18  948.884  540.0  0.507071      0  111.111111  112.792100  0.500641
47900  18  949.424  540.0  0.507071      0  111.111111  112.287050  0.507071

[47901 rows x 8 columns]

In [58]:
# calculating max of HR and VO2 from the Mean HR/VO2 values by ID

def max_na_rm(series):
    return series.dropna().max()

# Group by 'ID' and calculate maximum values
result = data_test.groupby('ID').agg(
    HRmax=('HR_mean', max_na_rm),
    VO2max_abs=('VO2_mean', max_na_rm),
    powermax=('power', max_na_rm)
).reset_index()
result

    ID       HRmax  VO2max_abs  powermax
0    1  192.307692    1.759332       170
1    2  183.841055    1.934530       140
2    3  180.303094    3.414079       305
3    4  192.307692    3.437170       305
4    5  188.009416    3.355224       275
5    6  183.378500    3.395895       245
6    7  187.048758    1.635855       170
7    8  184.744806    1.964849       170
8    9  189.873418    1.731755       200
9   10  190.847128    2.347282       200
10  11  185.659440    3.341880       335
11  12  187.523441    3.491436       305
12  13  188.924051    3.488870       320
13  14  191.333982    2.482935       230
14  15  192.307692    2.993701       215
15  16  181.604467    3.451169       230
16  17  185.169494    2.189845       185
17  18  189.921652    2.180840       200

In [49]:
data_info_clean

    ID  age  Weight  Height  P_vt1  P_vt2      sport
0    1   15    53.7     161     50    140    fencing
1    2   15    56.2     162     80    127    fencing
2    3   16    89.9     191    155    300    fencing
3    4   16    76.5     180    215    275    fencing
4    5   17    76.4     186    110    172    fencing
5    6   17    65.6     169    131    186    fencing
6    7   15    49.8     165     65    108    fencing
7    8   15    51.2     165     80    133    fencing
8    9   14    57.1     176     50    125    fencing
9   10   14    58.8     177    101    162    fencing
10  11   18    84.8     182    174    268      kayak
11  12   18    86.0     183    170    294      kayak
12  13   18    83.9     183    144    267      kayak
13  14   13    62.3     171    140    170      kayak
14  15   13    63.5     172    125    156      kayak
15  16   16    70.4     182     79    175      kayak
16  17   12    39.9     156    101    145  triathlon
17  18   12    39.7     158     65    168  triathlon

In [50]:
# Merging two data frames data_info_clean and calculated HRmax and VO2 max_abs with Powermax
data_info_final = pd.merge(data_info_clean,result,on=['ID'])
data_info_final

,ID,age,Weight,Height,P_vt1,P_vt2,sport,HRmax,VO2max_abs,powermax
0,1,15,53.7,161,50,140,fencing,192.307692,1.741614,170
1,2,15,56.2,162,80,127,fencing,183.579848,1.905661,140
2,3,16,89.9,191,155,300,fencing,179.508212,3.402803,305
3,4,16,76.5,180,215,275,fencing,192.307692,3.424734,305
4,5,17,76.4,186,110,172,fencing,187.533181,3.352790,275
5,6,17,65.6,169,131,186,fencing,182.949874,3.373193,245
6,7,15,49.8,165,65,108,fencing,186.846996,1.600935,170
7,8,15,51.2,165,80,133,fencing,183.910536,1.950244,170
8,9,14,57.1,176,50,125,fencing,189.534358,1.724786,200
9,10,14,58.8,177,101,162,fencing,190.916678,2.330225,200
10,11,18,84.8,182,174,268,kayak,185.201316,3.328117,335
11,12,18,86.0,183,170,294,kayak,187.186056,3.491378,305
12,13,18,83.9,183,144,267,kayak,188.856239,3.487945,320
13,14,13,62.3,171,140,170,kayak,190.916678,2.376819,230
14,15,13,63.5,172,125,156,kayak,192.307692,2.961863,215
15,16,16,70.4,182,79,175,kayak,181.667436,3.419736,230
16,17,12,39.9,156,101,145,triathlon,185.147832,2.175893,185
17,18,12,39.7,158,65,168,triathlon,189.907871,2.168671,200

In [64]:
# Calculating VO2 max by divinding max of VO2 abs and weight of the ID.
# R
data_info_final['VO2_Max'] = data_info_final['VO2max_abs']/ data_info_clean['Weight']
data_info_final['VO2_Max'] = data_info_final['VO2_Max'] * 1000
data_info_final.drop('VO2max_abs',axis=1)
data_info_final

,ID,age,Weight,Height,P_vt1,P_vt2,sport,HRmax,VO2max_abs,powermax,VO2_Max
0,1,15,53.7,161,50,140,fencing,192.307692,1.741614,170,32.432288
1,2,15,56.2,162,80,127,fencing,183.579848,1.905661,140,33.908567
2,3,16,89.9,191,155,300,fencing,179.508212,3.402803,305,37.850975
3,4,16,76.5,180,215,275,fencing,192.307692,3.424734,305,44.767764
4,5,17,76.4,186,110,172,fencing,187.533181,3.352790,275,43.884688
5,6,17,65.6,169,131,186,fencing,182.949874,3.373193,245,51.420627
6,7,15,49.8,165,65,108,fencing,186.846996,1.600935,170,32.147290
7,8,15,51.2,165,80,133,fencing,183.910536,1.950244,170,38.090700
8,9,14,57.1,176,50,125,fencing,189.534358,1.724786,200,30.206405
9,10,14,58.8,177,101,162,fencing,190.916678,2.330225,200,39.629683
10,11,18,84.8,182,174,268,kayak,185.201316,3.328117,335,39.246668
11,12,18,86.0,183,170,294,kayak,187.186056,3.491378,305,40.597423
12,13,18,83.9,183,144,267,kayak,188.856239,3.487945,320,41.572647
13,14,13,62.3,171,140,170,kayak,190.916678,2.376819,230,38.151188
14,15,13,63.5,172,125,156,kayak,192.307692,2.961863,215,46.643510
15,16,16,70.4,182,79,175,kayak,181.667436,3.419736,230,48.575800
16,17,12,39.9,156,101,145,triathlon,185.147832,2.175893,185,54.533656
17,18,12,39.7,158,65,168,triathlon,189.907871,2.168671,200,54.626464

In [66]:
data_info_final.to_excel("C:/Users/deepak/Desktop/Datathon/Analysis_Info.xlsx")

In [67]:
data_test.to_excel("C:/Users/deepak/Desktop/Datathon/Analysis_test.xlsx")